
@media only screen and (min-width: 1600px) {
  .servicesprt{
    background: url("../images/service-bg.png") center 0px no-repeat;
    background-size: inherit;
    margin: 0 30px;
  }

 
}





@media only screen and (max-width: 1200px) {

  .navbar.dashboard-header{
    padding: .5rem .5rem .5rem .5rem;
    background: #2D59A8;
  }

  .navbar{
    padding: .5rem .5rem .5rem .5rem;
    background: #fff;
  }

  .sign-btn{
    border:2px solid #2057B2;
  }
  .videocontent span{
    
    width:60px;
  }
  .leftsocialprt{
    left:1%;
  }

  .plan-box{
    min-height: 1170px;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

.padding-left{
  padding-left: 15px;
}
.padding-right{
  padding-right: 15px;
}

.servicesprt .box{
  padding: 30px 20px 60px 20px;
}

.lower-body span h4{
  font-size: 28px;
}

.topblueprt{
  min-height: 236px;
}
.leftheadingprt h2{
  font-size: 15px;
}
.success {
  width: 95%;
  padding: 50px 20px;
}
.success p {
  line-height: 30px;
  font-size: 18px!important;
}

.normal-link{
  color: #000;
  padding: 0!important;
}
.pricing-btn{
  padding: 8px 27px;
}
.sign-btn{
  padding: 8px 27px;
}

.imgmoodshowprt{
  right:0;
  left: inherit;
}

.home-header .userListprt .nav-link {
  color: #2e59a8;
}
.home-header .userListprt .rounduserprt{
  background: #2e59a8;
  color: #fff;
}
.buttonprt button{
  margin-left: 15px;
}

}




@media only screen and (max-width: 1023px) {

  .navbar-nav .nav-item .nav-link{
    padding: 0.15em 1em;
    font-size: 17px;
  }
  .rightnavimg{
    align-items: center;
    display: flex;
  }
  .megamenu .nav-item .nav-link{
    padding: 1em 0;
    font-size: 13px;
  }

}

@media (max-width: 1200px) and (min-width: 992px) {
  .creditoptionpanel{
    flex-wrap: wrap;
    height: auto;
  }
}

@media only screen and (max-width: 991px) {
  
  .shrink{
    top:-2px;
  }
  .shrink .navbar-brand {
    width: 36%;
  }
  .navbar-brand {
    width: 36%;
  }
  
  .banner h1{
    padding-top: 60px;
  }
  .banner h4{
    color: #000;
  }
  .about-intoprt{
    padding: 50px 0 50px 0;
  }
  .about-videoprt{
    padding: 0px 0 30px 0;
  }
  .about-intoprt .col-lg-5,.about-intoprt .col-lg-7, .leftabout-intoprt .col-lg-5,.leftabout-intoprt .col-lg-7{
    margin-top: 15px;
  }
  .leftabout-intoprt{
    padding: 0px 0 100px 0;
  }
  footer .col-md-3{
    margin-top: 30px;
  }
  
  .socialLink ul li{
    padding-left: 27px;
  }
  .plan-body .col-lg-3{
    margin-bottom: 30px;
  }
  .trybutton{
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    padding: 20px;
  }
  .servicesprt{
    margin: 0;
  }
  .topblueprt {
    min-height: 166px;
  }
  .topblueprt p{
    font-size: 16px;
    line-height: 25px;
  }

  .innerpadding {
    padding: 100px 0 50px 0;
  }
  .plan-box {
    min-height: auto;
  }
  .trybutton{
    position: inherit;
    margin-top: 20px;
  }

  .contact-body {
    padding: 120px 0 100px 0;
  }

  .twopanel-signin{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  .leftPrt {
    width:100%;
    margin: 0;
  }
  .rightprt{
    width:100%;
    margin: 30px 0 0 0;
  }
  .leftbox{
    padding: 50px 20px;
  }
  .topcont{
    padding: 50px 20px;
  }
  .middlecont{
    padding: 30px 20px;
  }
  .bottom-cont{
    padding: 20px 28px;
    font-size: 18px;
  }
  
  .leftheadingprt{
    width:62%;
  }
  .tableprt{
    overflow: auto;
  }
  .tableprt table{
    width:1000px;
  }

  .innerwrapperbody{
    padding: 30px 0px 50px 0px;
  }

  .togglebtn{
    width:62px;
  }

  .leftheadingprt{
    width:100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .leftheadingprt h2{
    margin-bottom: 15px;
  }

  .topemployeeheader{
    flex-direction: column;
    background: #eee;
    align-items: center;
  }
  
}

@media only screen and (max-width: 767px) {
  /* #wrapper{
    overflow: hidden;
  } */
  #sidebar-wrapper{
    height: 100%;
  }
  .sidebar-heading .shortimg{
    display: none;
  }
  #sidebar-wrapper{
    width: 0;
    transform: translateX(0) !important;
      transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
    transform: translateX(-250px);
      transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    
  }
  #sidebar-wrapper .list-group {
    width: 0;
    margin-left: -90px;
  }
  #wrapper.toggled #sidebar-wrapper .list-group{
    margin-left: 0;
  }


  h2{
    font-size: 40px;
  }
  .bgleft:before{
    display: none;
  }
  
  .banner h1{
    padding-top: 150px;
  }
  .dashboard-header .navbar-brand img{
    filter: brightness(1);
  }
 .navbar-brand img{
    filter: brightness(0);
  }
  .buttonprt button {
    margin-left: 5px;
    padding: 8px 23px;
    font-size: 13px;
}
  
  .banner{
    padding: 0;
  }
  .banner h1{
    color: #fff;
    font-size: 28px;
  }
  .banner-cont h1 {
    padding-top: 130px;
  }
  .banner h4{
    color: #fff;
    font-size: 17px;
  }
  .banner button{
    background: #fff;
    color: #000;
  }
  

  .leftsocialprt{
    top: 220px;
    right: 3%;
    left: inherit;
  }
  .leftsocialprt ul li a i{
    color: #fff;
  }
  

  .employee-directoryprt table tbody tr td{
    display: inline-block;
    text-align: left !important;
    padding: 15px 15px;
  }
  .employee-directoryprt table tbody tr td:before{
      content: attr(title);
      display: block;
      font-weight: bold;
      font-size: 16px;
      color: #000;
      text-transform: uppercase;
  }
  .employee-directoryprt table thead tr th{
    display: none;
  }
  .tableprt table{
    width:100%;
  }
  .twobtn button{
    width: 35px;
    height: 35px;
    background: #eee;
    border:1px solid #ccc;
    margin-left: 10px;
  }
  

  .plan-body h2 {
    font-size: 36px;
  }

  .blue {
    padding: 8px 16px;
  }

  .shortTxt{
    line-height: 20px;
    font-size: 13px!important;
  }

  
  
  .twobtn button:nth-child(1){
    margin-left: 0;
  }
  
  .normal-link i{
    display: block;
    font-size: 16px;
    background: #000;
    color: #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .normal-link span{
    display: none;
  }
  .buttonprt{
    display: flex;
  }

  .rounduserprt img{
    width:32%;
  }

  
  
}

@media only screen and (max-width: 599px) {
  .contactdropdown span{
    font-size: 15px;
    width: 146px;
  }
  .signinprt h2, .contactdropdown h2{
    font-size: 20px;
  }
  .contactdropdown {
    padding: 20px;
  }

  .signin .dropdown-menu{
    min-width:300px;
  }
  .twopart{
    flex-direction: column;
  }
  .signinprt{
    width: 100%;
    border-right:none;
    border-bottom: 1px solid #000;
  }
  .signinprt:nth-child(2){
    border-bottom: none;
  }

  .rounduserprt{
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 19px;
  }
  .dashboard-header .nav-link{
    font-size: 11px!important;
  }
  .notification_list{
    width:100%;
  }
  .questionshow{
    width:100%;
  }
  .userListprt span{
    display: none;
  }
  .rounduserprt{
    margin-right: 0;
  }

}



@media only screen and (max-width: 480px){
  .navbar-nav .nav-item .nav-link {
    padding: 0.15em 0.5em;
    font-size: 15px;
  }

  .creditoptionpanel{
    flex-wrap: wrap;
    height: auto;
  }
  .pro-officeprt{
    flex-wrap: wrap;
  }
  .procont, .price {
    width: 100%;
  }

  .middlebox p, .leftPrt p {
    font-size: 15px;
  }
  .middlebox h2, .leftPrt h2, .rightprtbox h2{
    font-size: 23px;
  }

  .leftheadingprt input[type="search"]{
    height: 45px;
    width: 100%;
  }

  .navbar-brand {
    width: 33%;
    margin-right: 2px;
  }
  .leftheadingprt{
    justify-content: center;
  }
  .imgmoodshowprt{
    width:280px;
  }
  .uploadsection{
    flex-direction: column;
  }
  .browseBtnprt{
    margin-top: 20px;
  }

}

@media only screen and (max-width: 400px) {
  .buttonprt button {
    margin-left: 5px;
    padding: 3px 13px;
    font-size: 11px;
  }
 

  .middlebox h2, .leftPrt h2, .rightprtbox h2{
    font-size: 19px;
    line-height: 25px;
  }

  .success p {
    line-height: 25px;
    font-size: 16px!important;
  }

  .rounduserprt{
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
  }

}

@media only screen and (max-width: 359px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 13px;
  }

  .normal-link i{
    display: block;
    font-size: 16px;
    background: #000;
    color: #fff;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}





@media only screen and (min-width: 576px) {
  .inner-container{
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .inner-container{
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .inner-container{
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .inner-container{
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1300px) {
  .inner-container{
    max-width: 1300px;
  }
}

@media only screen and (min-width: 1600px) {
  .inner-container{
    max-width: 1500px;
  }
}





